# Ignore __pycache__ directories
__pycache__/

# PyCharm project files
.idea/

# macOS stuff
.DS_Store

# database
db.sqlite3

# environment variables
.env
.envrc

# vim
*.swp

# javascript
node_modules/

# ansible
.vault_password

# specs
/specs/
/.specsync.env

# documentation build artifacts
docs/_build/
