DJANGO_SETTINGS_MODULE={{ django_settings_module }}
DJANGO_SECRET_KEY={{ django_secret_key }}
DJANGO_ADMIN_URL=hidden_admin/
DATABASE_URL=sqlite:///db.sqlite3
DJANGO_ALLOWED_HOSTS={{ fqdn }},localhost
DJANGO_CACHE_LOCATION={{ django_cache_location }}

# Monitoring agent configuration
TELEGRAM_BOT_TOKEN={{ telegram_bot_token }}
TELEGRAM_CHAT_ID={{ telegram_chat_id }}
