# Contents of /etc/systemd/system/{{ username }}_monitor.service
[Unit]
Description={{ username }} monitoring agent
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory={{ site_path }}
User={{ username }}
EnvironmentFile={{ site_path }}/.env
ExecStart={{ venv_bin }}/start-agent --db {{ site_path }}/db.sqlite3 --enable-telegram --log-level WARNING

[Install]
WantedBy=multi-user.target
