<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nyxmon Dashboard{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="{% url 'nyxboard:dashboard' %}" class="header-link">Nyxmon Dashboard</a></h1>
        </div>
    </header>
    
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    
    <footer class="container">
        <p>Nyxmon Monitoring System</p>
    </footer>
    
    {% block extra_js %}{% endblock %}
</body>
</html>